<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <richardma_tuofu>
                <active>0</active>
                <model>Richardma\Tuofu\Model\Payment</model>
                <!--<payment_action>authorize_capture</payment_action>-->
                <title>Tuofu</title>
                <!--<api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />-->
                <!--<cctypes>AE,VI,MC,DI,JCB</cctypes>-->
                <allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total>
            </richardma_tuofu>
        </payment>
    </default>
</config>
